<div class="row">
    <h1 class="text-center">Medals</h1>
</div>

{{#if medals}}
    <table class="table">
        <thead>
        <tr>
            <th>Winner</th>
            <th>Type</th>
            <th>Event</th>
        </tr>
        </thead>
        <tbody>
        {{#each medals}}
            <tr>
                <td>{{winnerFirstName}} {{winnerLastName}}</td>
                <td><span class="medal {{type}}"></span></td>
                <td>{{eventName}}</td>
                <td>
                    <button class="btn btn-danger deleteMedalBtn" data-medal-id="{{medalId}}">Unassign</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

{{else}}
    <div>No medals have been awarded!</div>
{{/if}}

<script src="/medals_page.js"></script>